body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; 
}

#head{
    text-align: center;
}

#head h1{
    display: inline-block;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 1px solid #150116;
    border-radius: 5px;
    font-size: 30px;
    font-family: cursive;
    color: #260327;
}

#captcha input{
    width: 250px;
    height: 10px;
    padding: 20px;
    font-size: 20px;
    border: solid;
    border-radius: 5%;
    border-width: 2px;
}

#captcha{
    text-align: center;
}

#captcha p{
    font-size:40px ;
}

#captcha button{
    margin-top: 50px;
    font-size: 18px;
    border-radius: 5%;
    font-style: italic;
    height: 60px;
    width: 130px;
}

.container{
    background-color: rgba(110, 3, 105, 0.6);
    padding-bottom: 30px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    display: inline-block;
    border: solid rgb(78, 0, 78);
}